<div>
    <div class="header">
        <app-header fxFlex='1 1 0' fxLayoutAlign="center" fxLayoutGap="1em" ></app-header>
    </div>
    <div class="footer">
        <h4>About:</h4>
        <div>
            The Applicates fecthes flag images along with some country details from Rest Countries API 
            and fetches the summaries of the countries from MediaWiki API.
            The Application is built completely on Angular Framework and fetches the data using the HTTPClient Module. 
        </div>

        <h4>Tools Used:</h4>
        <div>
            <div><strong>Rest Countires:   </strong> <a href="https://restcountries.eu/">   https://restcountries.eu/</a>  </div>
            <div><strong>WikiMedia API:   </strong> <a href="https://en.wikipedia.org/api/rest_v1/">   https://en.wikipedia.org/api/rest_v1/</a></div>
        </div>

        <h4></h4>
        <div>
            <strong>Angular Material:   </strong> <a href="https://material.angular.io/">   https://material.angular.io/</a>"
        </div>

        <h4></h4>
        <div>
            <strong>Source Code :</strong> 
            <a href="https://github.com/arjhn/angular1">https://github.com/arjhn/angular1</a>
        </div>

    </div>
</div>