  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li{
      list-style: none;
      width: 225px;
      height: 175px;
      padding: 1em;

      img{
        width: 200px;
        border:0.5px solid rgba(0, 0, 0,0.05);
      }
    }

  }
  .searchbar{
    padding:1em;
  }

  .fHomeHeader{
    height: 10vh;
    width: 100vw;
  }

  .introClass{
    position: absolute;
    top:30vh;
    left: 30vw;
    width: 40vw;
    font-size: 2em;
  }




