  ul{
    display: flex;
    flex-wrap: wrap;

    li{
      list-style: none;
      width: 225px;
      height: 175px;
      padding: 1em;

      img{
        width: 200px;
      }
    }

  }
  .searchbar{
    width: 40%;
    left:30%;
    padding:1em;
  }

