<div class="innercontainer">
  
  <div class="fHomeHeader" fxLayout="row" [fxLayoutAlign]="flexLayout" fxLayoutGap="0.5em">

    <mat-form-field class="searchbar" [fxFlex]="flexTry">
      <mat-label>Search</mat-label>
      <input type="search" matInput placeholder="Country Name" [ngModel]="searchValue" (ngModelChange)='flagSearch($event)'>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <div fxFlex="1 1 10%" *ngIf="menuPresent" ></div>
    <app-header fxFlex='1 1 20%' *ngIf="menuPresent" ></app-header>
    <div fxFlex="1 1 5%" *ngIf="menuPresent" ></div>

  </div>
  
  <div *ngIf="flagName"> 

    <ul [@listAnimation]="flagName">

      <li *ngFor="let Flag of flagName;let i=index">

        <img [src]="flagSrc[i]" (click)="redirectFlag(Flag)" appImageheight (onValueUpdate)="translateValue($event)">
        <p [style.transform]="'translateY('+txValue[i]+'px)'">{{Flag}}</p>
      
      </li>
    </ul>

  </div>

  <div class="introClass" *ngIf="!flagName" [@introAnim]="introText" [style]="introStyle" >
    <p *ngFor="let intro of introText">
      {{intro}}
    </p>
  </div>

</div>
