  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li{
      list-style: none;
      width: 225px;
      height: 175px;
      padding: 1em;

      img{
        width: 200px;
        border:0.5px solid rgba(0, 0, 0,0.05);
      }
    }

  }
  .searchbar{
    width: 40%;
    left:30%;
    padding:1em;
  }

